<!DOCTYPE html>
<html>
  <head>
    <title>TechChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>TechChat</h1>
      <div class="question_btn">質問する</div>
    </div>
    <%= yield %>
  </body>
</html>
